<div class="fondoGris d-flex justify-content-center">
    <form class="">
        <div class="row">
            <!-- Ciudad Origen -->
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Ciudad origen</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Ciudad Llegada -->
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Ciudad destino</mat-label>
                    <mat-select>
                        <mat-option value="one">First option</mat-option>
                        <mat-option value="two">Second option</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- Total pasajeros -->
            <div class="col-lg-3">
                <mat-form-field appearance="fill">
                    <mat-label>Total pasajeros</mat-label>
                    <mat-select>
                        <mat-option value="one">1 Pasajeros</mat-option>
                        <mat-option value="two">2 Pasajeros</mat-option>
                        <mat-option value="two">4 Pasajeros</mat-option>
                        <mat-option value="two">5 Pasajeros</mat-option>
                        <mat-option value="two">6 Pasajeros</mat-option>
                        <mat-option value="two">7 Pasajeros</mat-option>
                        <mat-option value="two">8 Pasajeros</mat-option>
                        <mat-option value="two">9 Pasajeros</mat-option>
                        <mat-option value="two">10Pasajeros</mat-option>
                        <mat-option value="two">11 Pasajeros</mat-option>
                        <mat-option value="two">12 Pasajeros</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="col-lg-2">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Fecha vuelo</mat-label>
                    <input matInput [min]="minDate" [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>



            </div>


            <div class="col-lg-1">
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Buscar</button>
                </div>
            </div>
        </div>
    </form>
</div>