<div class="container mt-4">
    <div class="container" style="width: 50rem;">
        <form [formGroup]="myFormAvion" class="fondoGris">
            <h1 class="text-center">{{accion}} Avión</h1>
            <div class="row mx-auto">

                <!-- Numero de vuelo -->
                <div class="col-lg-6">
                    <mat-form-field hintLabel="Debe ser un número de 4 números" appearance="fill">
                        <mat-label>Nro de avión</mat-label>
                        <input formControlName="numeroAvion" matInput #input maxlength="4" placeholder="Ej. 0001">
                        <mat-hint align="end">{{input.value.length}}/4</mat-hint>

                        <div *ngIf="myFormAvion.get('numeroAvion').hasError('required') &&
                                myFormAvion.get('numeroAvion').touched">
                            <span class="mensajeValidacion">
                                El número de avión es requerido*
                            </span>
                        </div>

                        <div *ngIf="myFormAvion.get('numeroAvion').hasError('pattern') &&
                                myFormAvion.get('numeroAvion').touched">
                            <span class="mensajeValidacion">
                                Este campo solo se puede rellenar con 4 números!
                            </span>
                        </div>
                        
                    </mat-form-field>


                </div>

                <!-- Nombre avion -->
                <div class="col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Nombre Avión</mat-label>
                        <input formControlName="nombreAvion" maxlength="20" matInput placeholder="EJ: AVION4">

                        <div *ngIf="myFormAvion.get('nombreAvion').hasError('required') &&
                        myFormAvion.get('nombreAvion').touched">
                            <span class="mensajeValidacion">
                                El nombre del avión es requerido*
                            </span>
                        </div>

                        <div *ngIf="myFormAvion.get('nombreAvion').hasError('pattern') &&
                                myFormAvion.get('nombreAvion').touched">
                            <span class="mensajeValidacion">
                                Este campo no puede contener letras especiales
                            </span>
                        </div>
                    </mat-form-field>


                </div>

                <!-- Ciudad Origen -->
                <div class="col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Ciudad origen</mat-label>
                        <mat-select formControlName="ciudadOrigen">
                            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ciudad}}</mat-option>
                        </mat-select>

                        <div *ngIf="myFormAvion.get('ciudadOrigen').hasError('required') &&
                                myFormAvion.get('ciudadOrigen').touched">
                            <span class="mensajeValidacion">
                                El origen del avión es requerido*
                            </span>
                        </div>
                        <!-- <div *ngIf="ciudadSeleccionada === myFormAvion.get('ciudadDestino').value && myFormAvion.get('ciudadOrigen').touched">
                            <span>No se puede seleccionar la misma ciudad de Destino</span>
                        </div> -->

                    </mat-form-field>
                </div>

                <!-- Ciudad Destino -->
                <div class="col-lg-6">
                    <mat-form-field hintLabel="Recuerda que tiene que ser distinto al origen" appearance="fill">
                        <mat-label>Ciudad destino</mat-label>
                        <mat-select formControlName="ciudadDestino">
                            <mat-option *ngFor="let ciudad of ciudades" [value]="ciudad">{{ciudad}}</mat-option>
                        </mat-select>
                        <div *ngIf="myFormAvion.get('ciudadDestino').hasError('required') &&
                                myFormAvion.get('ciudadDestino').touched">
                            <span class="mensajeValidacion">
                                El destino del avión es requerido*
                            </span>
                        </div>

                    </mat-form-field>
                </div>

                <!-- Hora salida -->

                <div class="col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Hora de salida</mat-label>
                        <input formControlName="horaSalida" type="time" matInput>
                        <div *ngIf="myFormAvion.get('horaSalida').hasError('required') &&
                                myFormAvion.get('horaSalida').touched">
                            <span class="mensajeValidacion">
                                La hora de salida del avión requerida*
                            </span>
                        </div>
                    </mat-form-field>
                </div>

                <!-- Hora llegada -->

                <div class="col-lg-6">
                    <mat-form-field appearance="fill">
                        <mat-label>Hora de llegada</mat-label>
                        <input formControlName="horaLlegada" type="time" matInput>

                        <div *ngIf="myFormAvion.get('horaLlegada').hasError('required') &&
                                myFormAvion.get('horaLlegada').touched">
                            <span class="mensajeValidacion">
                                La hora de llegada del avión requerida*
                            </span>
                        </div>
                    </mat-form-field>
                </div>

                <!-- Total Horas -->

                <div class="col-lg-12">
                    <mat-form-field appearance="fill">
                        <mat-label>Minutos de vuelo</mat-label>
                        <input formControlName="minVuelo" placeholder="Ej. 02:35" maxlength="5" type="text" matInput>

                        <div *ngIf="myFormAvion.get('minVuelo').hasError('required') &&
                                myFormAvion.get('minVuelo').touched">
                            <span class="mensajeValidacion">
                                Los minutos de vuelo son requeridos*
                            </span>
                        </div>

                        <div *ngIf="myFormAvion.get('minVuelo').hasError('pattern') &&
                                myFormAvion.get('minVuelo').touched">
                            <span class="mensajeValidacion">
                                Formato no reconocido, recuerda que es: HH:MM
                            </span>
                        </div>
                    </mat-form-field>
                </div>


                <!-- Imagen Avion -->
                <div class="mt-3">
                    <label for="formFile" class="form-label">Imágen del avión (opcional)</label>
                    <input formControlName="imgAvion" class="form-control" type="file" id="formFile">

                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-success mt-2" (click)="crearAvion()" [disabled]="myFormAvion.invalid">CREAR AVIÓN</button>
                </div>

            </div>

        </form>

        <div class="d-grid gap-2">
            <button type="submit" class="btn btn-dark mt-2" routerLink="/admin/adm-aviones">VOLVER</button>
        </div>
    </div>
</div>