<div mat-dialog-title>
    <h1>{{data ? 'Modificar': 'Añadir'}} Trayecto</h1>
</div>
<form [formGroup]="trayectoForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Vuelo</mat-label>
                <mat-select formControlName="idVuelo">
                    <mat-option *ngFor="let vuelo of vuelosDisponibles" [value]="vuelo">
                        {{ vuelo.id }}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Avion</mat-label>
                <mat-select formControlName="idAvion">
                    <mat-option *ngFor="let avion of avionesDisponibles" [value]="avion">
                        {{ avion.id }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Aeropuerto de origen</mat-label>
                    <input matInput formControlName="idAeropuertoOrigen" [value]="selectedVuelo?.aeropuertoOrigen" readonly>
                </mat-form-field>
            </div>

            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Aeropuerto de destino</mat-label>
                    <input matInput formControlName="idAeropuertoDestino" [value]="selectedVuelo?.aeropuertoDestino" readonly>
                </mat-form-field>
            </div>
        </div>

        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Hora de salida</mat-label>
                    <input matInput type="time" formControlName="horaSalida">
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Hora de llegada</mat-label>
                    <input matInput type="time" formControlName="horaLlegada">
                </mat-form-field>
            </div>
        </div>

        <div class="col">
            <mat-form-field appearance="outline">
                <mat-label>Estado</mat-label>
                <mat-select formControlName="estado">
                    <mat-option value="En curso">En curso</mat-option>
                    <mat-option value="Disponible">Disponible</mat-option>
                </mat-select>
            </mat-form-field>
        </div>





    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Guardar'}}</button>
    </div>
</form>