<app-navbar></app-navbar>

<div class="container mt-4">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Elegir Asiento</h1>
      <hr>

      <!-- Mostrar el mapa de asientos aquí -->
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Mapa de Asientos del vuelo: <strong>{{vuelo.id}}</strong></h5>
          <div class="seat-map">
            <div class="seat-section vip-section">
              <span class="section-title">VIP</span>
              <div *ngFor="let seat of vipSeats" class="seat-item"
                [ngClass]="{ 'selected': seat.estado === 'reservado' }" (click)="toggleSeatSelection(seat)">
                <!-- <span class="seat-code">{{ seat.codigo }}</span> -->
              </div>
            </div>
            <div class="seat-section preferential-section">
              <span class="section-title">Preferencial</span>
              <div *ngFor="let seat of preferentialSeats" class="seat-item"
                [ngClass]="{ 'selected': seat.estado === 'reservado' }" (click)="toggleSeatSelection(seat)">
                <!-- <span class="seat-code">{{ seat.codigo }}</span> -->
              </div>
            </div>
            <div class="seat-section turista-section">
              <span class="section-title">Turista</span>
              <div *ngFor="let seat of turistaSeats" class="seat-item"
                [ngClass]="{ 'selected': seat.estado === 'reservado' }" (click)="toggleSeatSelection(seat)">
                <!-- <span class="seat-code">{{ seat.codigo }}</span> -->
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Botones para las opciones -->
      <div class="d-flex justify-content-between mt-4">
        <a [routerLink]="['../../detalle-vuelo', vuelo.id]" class="btn btn-secondary">Volver</a>
        <button class="btn btn-primary">Reservar Asiento</button>
      </div>
    </div>
  </div>
</div>