.seat-map {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.seat-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 10px;
}

.vip-section {
    order: 1;
}

.preferential-section {
    order: 2;
}

.turista-section {
    order: 3;
}

.section-title {
    width: 100%;
    text-align: center;
    font-weight: bold;
    margin-bottom: 5px;
}

.seat-item {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.seat-item.selected {
    background-color: #0077be;
    color: #fff;
}

.seat-code {
    font-weight: bold;
}
