<app-navbar></app-navbar>
<div class = "contenedor">
    <h1 class="text-center mt-4">Sección vuelos</h1>
    <app-filtrador></app-filtrador>
    <div class="row justify-content-center mt-3">
        <div class="col-12 col-lg-10 col-xl-8">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4 mb-4" *ngFor="let vuelo of vuelos">
                    <mat-card>
                        <div class="image-container">
                            <img mat-card-image src="https://www.eltiempo.com/files/image_640_428/uploads/2022/01/08/61d93de8c972a.jpeg" alt="Imagen del vuelo" class="card-img-top">
                            <div class="overlay">
                                <p>{{vuelo.idAeropuertoOrigen}}</p>
                            </div>
                        </div>
                        <mat-card-header>
                            <h3 class="mb-0">vuelo origen- vuelo destino</h3>
                        </mat-card-header>
                        <mat-card-content>
                            <p><mat-icon>flight_takeoff</mat-icon> Salida: {{vuelo.fechaHoraSalida | date:'short'}}</p>
                            <p><mat-icon>flight_land</mat-icon> Llegada: {{vuelo.fechaHoraLlegada | date:'short'}}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <button class="btn btn-primary" color="primary">Ver vuelo</button>
                                <h4 class="mb-0"> {{vuelo.precio | currency}}</h4>
                            </div>
                        </mat-card-content>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>