<div mat-dialog-title>
    <h1>{{data ? 'Modificar': 'Añadir'}} Factura</h1>
</div>
<form [formGroup]="facturaForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Usuario</mat-label>
                    <mat-select formControlName="idUsuario">
                        <mat-option *ngFor="let usuario of usuarios" [value]="usuario.id">{{ usuario.nombre
                            }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <mat-form-field appearance="fill">
                <mat-label>Choose a date</mat-label>
                <input matInput [matDatepicker]="picker" [min]="today" [max]="today" formControlName="fecha">
                <mat-hint>MM/DD/YYYY</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>


            <div class="col">
                <mat-form-field appearance="outline">
                    <mat-label>Estado</mat-label>
                    <mat-select formControlName="estado">
                        <mat-option value="Activo">Activo</mat-option>
                        <mat-option value="Inactivo">Inactivo</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
    </div>

    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Actualizar': 'Guardar'}}</button>
    </div>

</form>