<div class="container">

    <div class="row">
        <div class="col-lg-6 mt-4">
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" routerLink="adm-aviones">Administrar aviones</button>
                <button class="btn btn-dark" type="button" routerLink="adm-vuelos">Administrar vuelos</button>
                <button class="btn btn-dark" type="button" routerLink="adm-ciudades">Administrar ciudades</button>
                <button class="btn btn-dark" type="button" routerLink="adm-reservas">Administrar reservas</button>
            </div>
        </div>
        
        <div class="col-lg-6 mt-4">
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" routerLink="adm-ver-vuelos">ver VUELOS</button>
                <button class="btn btn-dark" type="button" routerLink="adm-clientes">ver CLIENTES</button>
                <button class="btn btn-dark" type="button" routerLink="/principal">Salir</button>
            </div>
        </div>
    </div>



</div>