<app-navbar></app-navbar>
<div class="container mt-4">
    <div class="row">
        <div class="col-lg-8 offset-lg-2">
            <div class="card" style="width: 25rem; margin: 0 auto;">
                <img class="card-img-top img-thumbnail" [src]="">
                <div class="card-body text-center">
                    <h5 class="card-title">Vuelo1</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Email:</li>
                        <li class="list-group-item">Gender:/li>
                        <li class="list-group-item">Status:</li>
                    </ul>
                </div>
                <button class="btn btn-dark btn-block" routerLink="/principal">
                    VOLVER
                </button>
            </div>
            
        </div>
        
    </div>
</div>

