<div class="container">
    <h1>Administrar Vuelos</h1>
    <div class="row">
        <div class="col-lg-6 mt-4">
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" routerLink="adm-crear-vuelo">Crear Vuelo</button>
            </div>
        </div>

        <div class="col-lg-6 mt-4">
            <div class="d-grid gap-2">
                <button class="btn btn-dark" type="button" routerLink="adm-vuelo">Administrar vuelo</button>
            </div>
        </div>

        <div class="d-grid gap-2 mt-4">
            <button type="submit" class="btn btn-dark mt-2" routerLink="/admin">VOLVER</button>
        </div>
    </div>
</div>