<nav class="navbar">
    <div routerLink="/admin" class="navbar-brand" style="cursor: pointer;">
        <img src="https://avatars.githubusercontent.com/u/126130077?s=400&amp;u=0781f5e6277696e36abaaad8d1d474b38690a6cb&amp;v=4"
            alt="FlowAir Logo" class="logo">
        <h1 class="title"><a href = "/">FlowAir</a></h1>
    </div>
    <h1><a routerLink="/admin">Sección Administrador</a></h1>
    <ul class="navbar-links">
        <li class="nav-item"><button type="button" class="btn" routerLink="/login">Desloguearse</button></li>
    </ul>
</nav>